<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="乾燥炉点検アプリ.Properties.Settings.真空乾燥炉データベースConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\topad.soc.co.jp\fileserver\52018110_新材料事業部\生産技術G\03_電子材料生産技術T\05_省力化\01_省力化案件\13_DX化検討\ハンディターミナル\3Fクリーンルーム日常点検表ペーパーレス化\真空乾燥炉データベース.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>